.navbar {
  background: linear-gradient(145deg, #375ee3 0%, #6543e0 80%)
}


.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -10px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}